{% load static %}
<!DOCTYPE html>
<html lang="zxx">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Link of CSS files -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}" />
		<link
			rel="stylesheet"
			href="{% static 'assets/css/owl.carousel.min.css' %}"
		/>
		<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/fancybox.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />

		<title>LifeSpire -</title>
		<link
			rel="icon"
			type="image/png"
			href="{% static 'assets/img/favicon.png' %}"
		/>
	</head>

	<body>
		<!--Preloader starts-->
		<!-- <div class="loader js-preloader">
			<div class="absCenter">
				<div class="loaderPill">
					<div class="loaderPill-anim">
						<div class="loaderPill-anim-bounce">
							<div class="loaderPill-anim-flop">
								<div class="loaderPill-pill"></div>
							</div>
						</div>
					</div>
					<div class="loaderPill-floor">
						<div class="loaderPill-floor-shadow"></div>
					</div>
				</div>
			</div>
		</div> -->
		<!--Preloader ends-->
		<!-- Theme Switcher start -->
		<div class="switch-theme-mode">
			<label id="switch" class="switch">
				<input type="checkbox" onchange="toggleTheme()" id="slider" />
				<span class="slider round"></span>
			</label>
		</div>
		<!-- Theme Switcher end -->

		<!-- Page Wrapper End -->
		<div class="page-wrapper">
			<!-- Header Section Start -->
			<header class="header-wrap style1">
				<div class="header-top">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-8">
								<div class="header-top-left">
									<ul class="contact-info list-style">
										<li>
											<span><i class="ri-customer-service-fill"></i></span>
											<p>Your Trusted Service Provider</p>
										</li>
										<li>
											<span><i class="ri-phone-fill"></i></span>
											<a href="tel:2455921125">(+245) 592 1125</a>
										</li>
										<li>
											<span><i class="ri-map-pin-fill"></i></span>
											<p>2767 Sunrise Street, NY 1002, USA</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="header-top-right">
									<ul class="social-profile list-style style1">
										<!-- <li>
                    <a href="https://facebook.com/">
                      <i class="ri-facebook-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://pinterest.com/">
                      <i class="ri-pinterest-line"></i>
                    </a>
                  </li> -->
										<div id="google_translate_element"></div>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottom">
					<div class="container">
						<nav class="navbar navbar-expand-md navbar-light">
							<a class="navbar-brand" href="{% url 'home' %}">
								<img
									class="logo-light"
									
									src="{% static 'assets/img/lifespir_logo.png' %}"
									alt="logo"
								/>
								<img
									class="logo-dark"
									src="{% static 'assets/img/logo-white.png' %}"
									alt="logo"
								/>
							</a>
							<div
								class="collapse navbar-collapse main-menu-wrap"
								id="navbarSupportedContent"
							>
								<div class="menu-close d-lg-none">
									<a href="javascript:void(0)">
										<i class="ri-close-line"></i
									></a>
								</div>
								<ul class="navbar-nav ms-auto">
									<li class="nav-item">
										<a href="/" class="nav-link active">
											Home
										</a>
										
									</li>

									<li class="nav-item">
										<a href="{% url 'allproducts' %}" class="nav-link">
											Products
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'distributorretailer' %}" class="nav-link">
											Distributor & Retailer
										</a>
									</li>

									<!-- <li class="nav-item">
										<a href="{% url 'allblogs' %}" class="nav-link"> Blogs </a>
									</li> -->

									<li class="nav-item">
										<a href="{% url 'aboutus' %}" class="nav-link"> About </a>
									</li>

									<li class="nav-item">
										<a href="{% url 'contactus' %}" class="nav-link"
											>Contact Us</a
										>
									</li>

									<li class="nav-item d-lg-none">
										<a href="appointment.html" class="nav-link btn style1"
											>Book Appointment</a
										>
									</li>
								</ul>
								<div class="other-options md-none">
									<div class="option-item">
										<button class="searchbtn">
											<i class="ri-search-line"></i>
										</button>
									</div>
									<div class="option-item">
										<a href="appointment.html" class="btn style1"
											>Book Appointment</a
										>
									</div>
								</div>
							</div>
						</nav>
						<div class="search-area">
							<input type="search" placeholder="Search Here.." />
							<button type="submit"><i class="ri-search-line"></i></button>
						</div>
						<div class="mobile-bar-wrap">
							<button class="searchbtn d-lg-none">
								<i class="ri-search-line"></i>
							</button>
							<div class="mobile-menu d-lg-none">
								<a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Header Section End -->

			{% block body %} {% endblock body %}

			<!-- Footer Section Start -->
			<footer class="footer-wrap">
				<div class="container">
					<div class="row pt-100 pb-75">
						<div class="col-xl-3 col-lg-5 col-md-5 col-sm-12">
							<div class="footer-widget">
								<a href="index.html" class="footer-logo">
									<img
										src="{% static 'assets/img/logo-white.png' %}"
										alt="Image"
									/>
								</a>
								<p class="comp-desc">
									Lorem ipsum dolor sit amet consc tetur adicing elit. Dolor
									emque dicta molest enim beatae ame consequ atur tempo pretium
									auctor nam.
								</p>
								<ul class="social-profile style1 list-style">
									<li>
										<a href="https://facebook.com/">
											<i class="ri-facebook-fill"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/">
											<i class="ri-twitter-fill"></i>
										</a>
									</li>
									<li>
										<a href="https://instagram.com/">
											<i class="ri-instagram-line"></i>
										</a>
									</li>
									<li>
										<a href="https://linkedin.com/">
											<i class="ri-linkedin-fill"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
							<div class="footer-widget">
								<h3 class="footer-widget-title">Company</h3>
								<ul class="footer-menu list-style">
									<li>
										<a href="index.html">
											<i class="ri-arrow-right-s-line"></i>
											Home
										</a>
									</li>
									<li>
										<a href="about.html">
											<i class="ri-arrow-right-s-line"></i>
											About Us
										</a>
									</li>
									<li>
										<a href="service-one.html">
											<i class="ri-arrow-right-s-line"></i>
											Our Services
										</a>
									</li>
									<li>
										<a href="team.html">
											<i class="ri-arrow-right-s-line"></i>
											Our Team
										</a>
									</li>
									<li>
										<a href="contact.html">
											<i class="ri-arrow-right-s-line"></i>
											Contact Us
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="footer-widget-title">Important</h3>
								<ul class="footer-menu list-style">
									<li>
										<a href="portfolio.html">
											<i class="ri-arrow-right-s-line"></i>
											Portfolio
										</a>
									</li>
									<li>
										<a href="appointment.html">
											<i class="ri-arrow-right-s-line"></i>
											Appointment
										</a>
									</li>
									<li>
										<a href="faq.html">
											<i class="ri-arrow-right-s-line"></i>
											FAQ
										</a>
									</li>
									<li>
										<a href="privacy-policy.html">
											<i class="ri-arrow-right-s-line"></i>
											Privacy Policy
										</a>
									</li>
									<li>
										<a href="terms-of-service.html">
											<i class="ri-arrow-right-s-line"></i>
											Terms &amp; Conditions
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
							<div class="footer-widget">
								<h3 class="footer-widget-title">Quick Link</h3>
								<ul class="footer-menu list-style">
									<li>
										<a href="about.html">
											<i class="ri-arrow-right-s-line"></i>
											Why Choose Us
										</a>
									</li>
									<li>
										<a href="pricing-plan.html">
											<i class="ri-arrow-right-s-line"></i>
											Pricing Plan
										</a>
									</li>
									<li>
										<a href="blog-left-sidebar.html">
											<i class="ri-arrow-right-s-line"></i>
											News &amp; Articles
										</a>
									</li>
									<li>
										<a href="login.html">
											<i class="ri-arrow-right-s-line"></i>
											Login
										</a>
									</li>
									<li>
										<a href="contact.html">
											<i class="ri-arrow-right-s-line"></i>
											Subscribe
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3 class="footer-widget-title">Official Info</h3>
								<ul class="contact-info list-style">
									<li>
										<i class="flaticon-map"></i>
										<h6>Location</h6>
										<p>2767 Sunrise Street, NY 1002, USA</p>
									</li>
									<li>
										<i class="flaticon-email-1"></i>
										<h6>Email</h6>
										<a
											href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#751d1019191a350110191c5b161a18"
											><span
												class="__cf_email__"
												data-cfemail="9cf4f9f0f0f3dce8f9f0f5b2fff3f1"
												>[email&#160;protected]</span
											></a
										>
									</li>
									<li>
										<i class="flaticon-phone-call-1"></i>
										<h6>Phone</h6>
										<a href="tel:13454567877">+1-3454-5678-77</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<p class="copyright-text">
					<i class="ri-copyright-line"></i> <span>Teli</span>. All Rights
					Reserved By <a href="https://hibotheme.com/">HiboTheme</a>
				</p>
			</footer>
			<!-- Footer Section End -->
		</div>
		<!-- Page Wrapper End -->

		<!-- Back-to-top button Start -->
		<a href="javascript:void(0)" class="back-to-top bounce"
			><i class="ri-arrow-up-s-line"></i
		></a>
		<!-- Back-to-top button End -->

		<!-- Link of JS files -->
		<script src="{% static 'assets/email-decode.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
		<script src="assets/js/contact-form-script.js"></script>
		<script src="{% static 'assets/js/aos.js' %}"></script>
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'assets/js/odometer.min.js' %}"></script>
		<script src="{% static 'assets/js/fancybox.js' %}"></script>
		<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
		<script src="{% static 'assets/js/tweenmax.min.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>

		<!-- Whatsapp Chat Button Start -->
		<script>
			var url =
				"https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?45884";
			var s = document.createElement("script");
			s.type = "text/javascript";
			s.async = true;
			s.src = url;
			var options = {
				enabled: true,
				chatButtonSetting: {
					backgroundColor: "#143751",
					ctaText: "",
					borderRadius: "25",
					marginLeft: "15",
					marginBottom: "20",
					marginRight: "50",
					position: "left",
				},
				brandSetting: {
					brandName: "Lifespire",
					brandSubTitle: "Typically replies within a day",
					brandImg: "https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
					welcomeText: "Hi there!\nHow can I help you?",
					messageText: "Hello, I have a question about {{page_link}}",
					backgroundColor: "#143751",
					ctaText: "Start Chat",
					borderRadius: "25",
					autoShow: false,
					phoneNumber: "9999999999",
				},
			};
			s.onload = function () {
				CreateWhatsappChatWidget(options);
			};
			var x = document.getElementsByTagName("script")[0];
			x.parentNode.insertBefore(s, x);
		</script>
		<!-- Whatsapp Chat Button End -->

		<!-- Google Transalte Start -->
		<script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement(
					{ pageLanguage: "en" },
					"google_translate_element"
				);
			}
		</script>

		<script
			type="text/javascript"
			src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
		></script>
		<!-- Google Transalte End -->
	</body>
</html>
