{% extends 'base.html' %} {% load static %} {% block body %}
<!-- Hero Section Start -->
<section class="hero-wrap style1">
	<div class="hero-slider-one owl-carousel">
		<div class="hero-slide-item">
			<div class="container">
				<div class="row align-items-center gx-5">
					<div class="col-xl-5 col-lg-6">
						<div class="hero-content">
							<span>We Take Care Of Your Health</span>
							<h1>We Are Providing Best &amp; Affordable wipes solutions</h1>
							<p>
								Our wipes are crafted with a gentle and skin-friendly formula, ensuring they are safe for users of all ages, from infants to the elderly.
							</p>
							<div class="hero-btn">
								<a href="about.html" class="btn style1">Find Out More</a>
								<a href="service-one.html" class="btn style3">Our Services</a>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="hero-img-wrap">
							<img
								class="hero-img"
								src="{% static 'assets/img/products/Baby Wipes 10/8.png' %}"
								alt="Image"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-1.png' %}"
								alt="Image"
								class="hero-shape-one moveHorizontal"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-2.png' %}"
								alt="Image"
								class="hero-shape-two rotate"
							/>
							<!-- <div class="row promo-box-wrap">
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-support"></i></span>
                                            <h4>24/7 Support</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-aid-man"></i></span>
                                            <h4>Qualified Doctors</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-slide-item">
			<div class="container">
				<div class="row align-items-center gx-5">
					<div class="col-xl-5 col-lg-6">
						<div class="hero-content">
							<span>We Take Care Of Your Health</span>
							<h1>Hypoallergenic</h1>
							<p>
								We take extra care to ensure that our wipes are hypoallergenic, reducing the risk of allergic reactions and skin irritations.
							</p>
							<div class="hero-btn">
								<a href="about.html" class="btn style1">Find Out More</a>
								<a href="service-one.html" class="btn style3">Our Services</a>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="hero-img-wrap">
							<img
								class="hero-img"
								src="{% static 'assets/img/products/Baby Wipes 10/8.png' %}"
								alt="Image"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-1.png' %}"
								alt="Image"
								class="hero-shape-one moveHorizontal"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-2.png' %}"
								alt="Image"
								class="hero-shape-two rotate"
							/>
							<!-- <div class="row promo-box-wrap">
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-support"></i></span>
                                            <h4>24/7 Support</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-aid-man"></i></span>
                                            <h4>Qualified Doctors</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-slide-item">
			<div class="container">
				<div class="row align-items-center gx-5">
					<div class="col-xl-5 col-lg-6">
						<div class="hero-content">
							<span>We Take Care Of Your Health</span>
							<h1>Hypoallergenic</h1>
							<p>
								We take extra care to ensure that our wipes are hypoallergenic, reducing the risk of allergic reactions and skin irritations.
							</p>
							<div class="hero-btn">
								<a href="about.html" class="btn style1">Find Out More</a>
								<a href="service-one.html" class="btn style3">Our Services</a>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="hero-img-wrap">
							<img
								class="hero-img"
								src="{% static 'assets/img/products/Baby Wipes 10/8.png' %}"
								alt="Image"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-1.png' %}"
								alt="Image"
								class="hero-shape-one moveHorizontal"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-2.png' %}"
								alt="Image"
								class="hero-shape-two rotate"
							/>
							<!-- <div class="row promo-box-wrap">
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-support"></i></span>
                                            <h4>24/7 Support</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-aid-man"></i></span>
                                            <h4>Qualified Doctors</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-slide-item">
			<div class="container">
				<div class="row align-items-center gx-5">
					<div class="col-xl-5 col-lg-6">
						<div class="hero-content">
							<span>We Take Care Of Your Health</span>
							<h1>Chemical-Free</h1>
							<p>
								Our wipes are free from harsh chemicals, fragrances, and alcohol, making them a safe and healthy choice for personal care.
							</p>
							<div class="hero-btn">
								<a href="about.html" class="btn style1">Find Out More</a>
								<a href="service-one.html" class="btn style3">Our Services</a>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="hero-img-wrap">
							<img
								class="hero-img"
								src="{% static 'assets/img/products/Baby Wipes 10/8.png' %}"
								alt="Image"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-1.png' %}"
								alt="Image"
								class="hero-shape-one moveHorizontal"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-2.png' %}"
								alt="Image"
								class="hero-shape-two rotate"
							/>
							<!-- <div class="row promo-box-wrap">
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-support"></i></span>
                                            <h4>24/7 Support</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-aid-man"></i></span>
                                            <h4>Qualified Doctors</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-slide-item">
			<div class="container">
				<div class="row align-items-center gx-5">
					<div class="col-xl-5 col-lg-6">
						<div class="hero-content">
							<span>We Take Care Of Your Health</span>
							<h1>Environmental Responsibility</h1>
							<p>
                                We are dedicated to sustainability, using eco-friendly materials in our wipes to minimize our environmental impact.
							</p>
							<div class="hero-btn">
								<a href="about.html" class="btn style1">Find Out More</a>
								<a href="service-one.html" class="btn style3">Our Services</a>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="hero-img-wrap">
							<img
								class="hero-img"
								src="{% static 'assets/img/products/Baby Wipes 10/8.png' %}"
								alt="Image"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-1.png' %}"
								alt="Image"
								class="hero-shape-one moveHorizontal"
							/>
							<img
								src="{% static 'assets/img/hero/hero-shape-2.png' %}"
								alt="Image"
								class="hero-shape-two rotate"
							/>
							<!-- <div class="row promo-box-wrap">
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-support"></i></span>
                                            <h4>24/7 Support</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="promo-box">
                                            <span><i class="flaticon-aid-man"></i></span>
                                            <h4>Qualified Doctors</h4>
                                            <p>There are many variations of passages are valid.</p>
                                        </div>
                                    </div>
                                </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero Section End -->

<!-- Counter Section Start -->
<div class="counter-wrap pt-75 pb-75 bg-blue">
	<div class="container">
		<div class="counter-card-wrap">
			<div class="counter-card style1">
				<span class="counter-icon">
					<img src="{% static 'blood.png' %}" />
				</span>
				<div class="counter-text">
					<p>Dermatologically Tested</p>
				</div>
			</div>
			<div class="counter-card style1">
				<span class="counter-icon">
					<img src="{% static 'baby-boy.png' %}" />
				</span>
				<div class="counter-text">
					<p>Patients Satisfied</p>
				</div>
			</div>
			<div class="counter-card style1">
				<span class="counter-icon">
					<img src="{% static 'cruelty-free.png' %}" />
				</span>
				<div class="counter-text">
					<p>Against Animal</p>
				</div>
			</div>
			<div class="counter-card style1">
				<span class="counter-icon">
					<img src="{% static 'hypoallergenic.png' %}" />
				</span>
				<div class="counter-text">
					<p>Hypoallergenic</p>
				</div>
			</div>
			<div class="counter-card style1">
				<span class="counter-icon">
					<img src="{% static 'water-drop.png' %}" />
				</span>
				<div class="counter-text">
					<p>pH Balanced</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Counter Section End -->

<!-- About Section Start -->
<section class="about-wrap style1 ">
	<div class="container">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6">
				<div class="about-img-wrap">
					<img
						src="{% static 'assets/img/products/Baby Wipes 10/10 A - Copy.png' %}"
						alt="Image"
						class="about-img-one"
					/>
					<img
						src="{% static 'assets/img/products/Bed Bath  Wipes 10/10 - Copy.png' %}"
						alt="Image"
						class="about-img-two"
					/>
					<!-- <div class="about-doctor-box">
                            <div class="doctor-img">
                                <img src="{% static 'assets/img/about/doctor-1.jpg' %}" alt="Image">
                            </div>
                            <div class="doctor-info">
                                <h5>Dr. Kate Winslet</h5>
                                <span>Radiology</span>
                            </div>
                            <button type="button" class="btn style1">Select</button>
                        </div> -->
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-content">
					<div class="content-title style1">
						<span>Why Choose Us?</span>
						<h5>
							Choose our wipes for simple, safe, and comfortable personal care,
							backed by quality, innovation, and environmental responsibility,
							ensuring the well-being of you and your loved ones.
						</h5>
						<p>
							Our company is dedicated to manufacturing high-quality baby wipes
							and bed bath wipes that have become trusted solutions for personal
							care. These versatile wipes are essential in various settings,
							from homes and childcare centers to healthcare institutions,
							offering unparalleled hygiene, convenience, and comfort.
						</p>
					</div>
					<div class="row align-items-center">
						<div class="col-md-7">
							<ul class="content-feature-list list-style">
								<li>
									<i class="ri-checkbox-circle-line"></i>Quality Assurance
								</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>Environmental
									Responsibility
								</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>Trusted by
									Professionals
								</li>
								<li><i class="ri-checkbox-circle-line"></i>Innovation</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>Customer-Centric
									Approach
								</li>
							</ul>
						</div>
						<div class="col-md-5">
							<div class="about-promo-video bg-f">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<!-- <div class="ceo-msg">
                            <div class="ceo-img">
                                <img src="{% static 'assets/img/about/doctor-2.jpg' %}" alt="Image">
                            </div>
                            <p>"Think Hard And Focus On The Patient's Well-Being"</p>
                        </div> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Section End -->

<!-- Service Section Start -->
<section class="service-wrap ptb-100 bg-athens">
	<div class="container">
		<div class="section-title style1 text-center mb-40">
			<span>Key Features of Our Products</span>
			<h2>We're Providing Best wipes solutions</h2>
		</div>
		<div class="service-slider-one owl-carousel">
			<div class="service-card style1">
				<div class="service-img">
					<img
						src="{% static 'assets/img/services/service-2.jpg' %}"
						alt="Image"
                        style="height: 310px; border-radius: 30px;"

					/>
					
				</div>
				<div class="service-info">
					<h3><a href="service-details.html">Gentle and Safe</a></h3>
					<p>
						Our wipes are carefully crafted to be gentle on the skin, making
						them suitable for all age groups. They are free from harsh
						chemicals, fragrances, and alcohol, ensuring they are safe even for
						those with sensitive skin.
					</p>
					<!-- <a href="service-details.html" class="link style2">Explore More</a> -->
				</div>
			</div>
			<div class="service-card style1">
				<div class="service-img">
					<img
						src="{% static 'assets/img/services/service-3.jpg' %}"
						alt="Image"
                        style="height: 310px; border-radius: 30px;"
					/>
					
				</div>
				<div class="service-info">
					<h3><a href="service-details.html">Versatile Application</a></h3>
					<p>
						These wipes have a wide range of uses. They are perfect for diaper
						changes, quick hand and face cleaning, and providing a thorough bed
						bath experience. Bed bath wipes are particularly practical for
						bedridden patients.
					</p>
					<!-- <a href="service-details.html" class="link style2">Explore More</a> -->
				</div>
			</div>
			<div class="service-card style1">
				<div class="service-img">
					<img
						src="{% static 'assets/img/services/service-4.jpg' %}"
						alt="Image"
                        style="height: 310px; border-radius: 30px;"
					/>
					
				</div>
				<div class="service-info">
					<h3>
						<a href="service-details.html">Convenient and Ready to Use</a>
					</h3>
					<p>
						Our wipes come pre-moistened, eliminating the need for water or
						additional cleaning products. They are also disposable, simplifying
						cleanup and maintenance.
					</p>
					<br />
				</div>
			</div>
			<div class="service-card style1">
				<div class="service-img">
					<img
						src="{% static 'assets/img/services/service-5.jpg' %}"
						alt="Image"
                        style="height: 310px; border-radius: 30px;"
					/>
					<!-- <span class="service-icon"><i class="flaticon-bandage"></i></span> -->
				</div>
				<div class="service-info">
					<h3><a href="service-details.html">Hygienically Packaged</a></h3>
					<p>
						We take great care to ensure that our wipes are hygienically
						packaged to prevent contamination. The packaging is designed to
						retain moisture, guaranteeing the effectiveness and freshness of
						each wipe.
					</p>
				</div>
			</div>
			<div class="service-card style1">
				<div class="service-img">
					<img
						src="{% static 'assets/img/services/service-6.jpg' %}"
						alt="Image"
                        style="height: 310px; border-radius: 30px;"
					/>
				</div>
				<div class="service-info">
					<h3><a href="service-details.html">Dermatologist-Approved</a></h3>
					<p>
						Our products are rigorously tested and approved by dermatologists,
						assuring that they meet the highest standards for skincare. evaluate
						the products and have given their endorsement or seal of approval,
						our products are suitable for use on the skin.
					</p>
				</div>
			</div>
		</div>
		<div class="text-center mt-30">
			<p class="mb-0">
				Our wipes simplify personal care, meeting the highest hygiene and
				comfort standards, making them ideal for parents, caregivers, and
				healthcare professionals.
			</p>
		</div>
	</div>
</section>
<!-- Service Section End -->

<!-- Appointment Section Start -->
<section class="appointment-wrap style1 bg-athens">
	<div class="container">
		<div class="row gx-5">
			<div class="col-lg-6">
				<div class="appointment-content">
					<div class="content-title style1">
						<span>Applications of Our Products</span>
						<h2>Awesome Smart Health Can Make Your Life Easier</h2>
						<p>
							We understand the importance of personal care, and our wipes are
							designed to make this process as simple, safe, and comfortable as
							possible. When you choose our wipes, you are choosing to take care
							of yourself, your loved ones, or those in your care. Trust in the
							quality, innovation, and environmental responsibility we bring to
							every wipe we manufacture. Take care with our wipes, and
							experience the difference in personal care and hygiene that our
							products provide.
						</p>
					</div>
					<ul class="content-feature-list list-style">
						<li><i class="ri-checkbox-circle-line"></i>Infant Care</li>
						<li><i class="ri-checkbox-circle-line"></i>Household Use</li>
						<li><i class="ri-checkbox-circle-line"></i>Childcare Centers</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>Healthcare Facilities
						</li>
						<li><i class="ri-checkbox-circle-line"></i>Elderly Care</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>Personal Care on the Go
						</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>Emergency and Disaster
							Relief
						</li>
						<li><i class="ri-checkbox-circle-line"></i>Institutional Use</li>
						<li><i class="ri-checkbox-circle-line"></i>General Cleaning</li>
						<li><i class="ri-checkbox-circle-line"></i>Sensitive Skin Care</li>
					</ul>
					<a href="contact.html" class="btn style1">Contact Us Now</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="appointment-bg bg-f">
					<form action="#" class="appointment-form">
						<h2>Book An Appointment</h2>
						<div class="form-group">
							<input type="text" placeholder="Full name" />
						</div>
						<div class="form-group">
							<input type="number" placeholder="Phone Number" />
						</div>
						<div class="form-group">
							<select name="select_doctor" id="select_doctor">
								<option value="0" data-display="Select Doctor">
									Select Doctor
								</option>
								<option value="1">Dr. Novlel Josef</option>
								<option value="2">Dr. Fredrick Henry</option>
								<option value="3">Dr. Steave Mark</option>
							</select>
						</div>
						<div class="form-group">
							<input type="date" />
						</div>
						<button type="submit" class="btn style2">Book Now</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Appointment Section End -->

<!-- Why Choose Us Section Start -->
<section class="wh-wrap style1 bg-chathamas ptb-100">
	<div class="container">
		<div class="row align-items-center mb-40">
			<div class="col-lg-6">
				<div class="section-title style2">
					<span>Product Varieties</span>
					<h2>
						We offer a diverse range of options to cater to different needs
					</h2>
				</div>
			</div>
			<div class="col-lg-6">
				<p class="section-para style2">
					Our baby wipes and bed bath wipes are designed to simplify personal
					care routines while upholding the highest standards of hygiene and
					comfort. Whether you are a parent, caregiver, or healthcare
					professional, our wipes offer an ideal solution to ensure the
					well-being of those under your care.
				</p>
			</div>
		</div>
		<div class="row align-items-center gx-5">
			<div class="col-lg-6">
				<div class="wh-img-wrap">
					<div class="wh-shape-one">
						<img
							src="{% static 'assets/img/why-choose-us/wh-shape-1.png' %}"
							alt="Image"
							class="bounce"
						/>
					</div>

					<img
						src="{% static 'assets/img/products/Baby Wipes 10/1.png' %}"
						alt="Image"
						class="wh-img-one"
					/>
					<img
						src="{% static 'assets/img/products/Bed Bath  Wipes 10/1.png' %}"
						alt="Image"
						class="wh-img-two"
					/>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="wh-content">
					<div class="feature-item-wrap">
						<div class="feature-item">
							<div class="feature-icon">
								<i class="ri-check-line"></i>
							</div>
							<div class="feature-text">
								<h3>Baby Wipes</h3>
								<p>
									Created with infants in mind, our baby wipes are exceptionally
									soft and gentle. They are available in various package sizes,
									including travel-sized packs and larger family-sized options.
								</p>
							</div>
						</div>
						<div class="feature-item">
							<div class="feature-icon">
								<i class="ri-check-line"></i>
							</div>
							<div class="feature-text">
								<h3>Bed Bath Wipes</h3>
								<p>
									These wipes are larger and more robust, making them perfect
									for individuals who may have difficulties with traditional
									bathing. They are suitable for use in healthcare facilities,
									nursing homes, or for at-home care.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="partner-slider-one owl-carousel pt-100">
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-1.png' %}"
					alt="Image"
				/>
			</div>
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-2.png' %}"
					alt="Image"
				/>
			</div>
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-3.png' %}"
					alt="Image"
				/>
			</div>
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-4.png' %}"
					alt="Image"
				/>
			</div>
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-5.png' %}"
					alt="Image"
				/>
			</div>
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-6.png' %}"
					alt="Image"
				/>
			</div>
			<div class="partner-item">
				<img
					src="{% static 'assets/img/partner/partner-2.png' %}"
					alt="Image"
				/>
			</div>
		</div>
	</div>
</section>
<!-- Why Choose Us Section End -->

<!-- Portfolio Section Start -->
<!-- <section class="portfolio-wrap ptb-100">
	<div class="container">
		<div class="section-title style1 text-center mb-40">
			<span>Our Portfolio</span>
			<h2>All The Great Project That We've Done</h2>
		</div>
		<div class="portfolio-slider-one owl-carousel">
			<div class="portfolio-card style1">
				<img
					src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}"
					alt="Image"
				/>
				<div class="portfolio-info">
					<a href="portfolio-category.html" class="portfolio-cat">Cardiology</a>
					<h3><a href="portfolio-details.html">Cardio Surgery</a></h3>
				</div>
			</div>
			<div class="portfolio-card style1">
				<img
					src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"
					alt="Image"
				/>
				<div class="portfolio-info">
					<a href="portfolio-category.html" class="portfolio-cat">Eye Care</a>
					<h3><a href="portfolio-details.html">Retina Checkup</a></h3>
				</div>
			</div>
			<div class="portfolio-card style1">
				<img
					src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"
					alt="Image"
				/>
				<div class="portfolio-info">
					<a href="portfolio-category.html" class="portfolio-cat">Surgery</a>
					<h3><a href="portfolio-details.html">Neuro Surgery</a></h3>
				</div>
			</div>
			<div class="portfolio-card style1">
				<img
					src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"
					alt="Image"
				/>
				<div class="portfolio-info">
					<a href="portfolio-category.html" class="portfolio-cat">Dental</a>
					<h3><a href="portfolio-details.html">Root Canal</a></h3>
				</div>
			</div>
			<div class="portfolio-card style1">
				<img
					src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"
					alt="Image"
				/>
				<div class="portfolio-info">
					<a href="portfolio-category.html" class="portfolio-cat">Health</a>
					<h3><a href="portfolio-details.html">Child Care</a></h3>
				</div>
			</div>
			<div class="portfolio-card style1">
				<img
					src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}"
					alt="Image"
				/>
				<div class="portfolio-info">
					<a href="portfolio-category.html" class="portfolio-cat">Family</a>
					<h3><a href="portfolio-details.html">Adult Health</a></h3>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Portfolio Section End -->

<!-- Testimonial Section Start -->
<section class="testimonial-wrap style1 ptb-100 bg-athens">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-7 col-md-8">
				<div class="section-title style2 mb-40">
					<span>Testimonial</span>
					<h2>The Main Reason For Your Choice Is Our Best Service</h2>
				</div>
			</div>
		</div>
		<div class="testimonial-slider-one owl-carousel">
			<div class="testimonial-card style3">
				<ul class="ratings list-style">
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
				</ul>
				<p class="client-quote">
					"As a new parent, I can't express how grateful I am for these baby
					wipes. They're gentle on my baby's sensitive skin and have become a
					lifesaver during diaper changes. I trust these wipes completely, and
					they've made parenting so much easier."
				</p>
				<div class="client-info-area">
					<div class="client-info-wrap">
						<div class="client-img">
							<img
								src="{% static 'assets/img/testimonials/client-1.jpg' %}"
								alt="Image"
							/>
						</div>
						<div class="client-info">
							<h3>Jim Morison</h3>
							<span>Director, BAT</span>
						</div>
					</div>
					<div class="quote-icon">
						<i class="flaticon-quote-2"></i>
					</div>
				</div>
			</div>
			<div class="testimonial-card style3">
				<ul class="ratings list-style">
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
				</ul>
				<p class="client-quote">
					"In the healthcare industry, we depend on the highest standards of
					hygiene. These bed bath wipes have been a game-changer for our
					facility. They ensure the comfort and well-being of our bedridden
					patients and simplify our daily routines."
				</p>
				<div class="client-info-area">
					<div class="client-info-wrap">
						<div class="client-img">
							<img
								src="{% static 'assets/img/testimonials/client-2.jpg' %}"
								alt="Image"
							/>
						</div>
						<div class="client-info">
							<h3>Alex Cruis</h3>
							<span>CEO, IBAC</span>
						</div>
					</div>
					<div class="quote-icon">
						<i class="flaticon-quote-2"></i>
					</div>
				</div>
			</div>
			<div class="testimonial-card style3">
				<ul class="ratings list-style">
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
				</ul>
				<p class="client-quote">
					"Caring for the elderly can be challenging, but these bed bath wipes
					have made it so much more manageable. Our residents appreciate the
					comfort, and as caregivers, we value the quality and ease of use."
				</p>
				<div class="client-info-area">
					<div class="client-info-wrap">
						<div class="client-img">
							<img
								src="{% static 'assets/img/testimonials/client-3.jpg' %}"
								alt="Image"
							/>
						</div>
						<div class="client-info">
							<h3>Tom Haris</h3>
							<span>Engineer, Olleo</span>
						</div>
					</div>
					<div class="quote-icon">
						<i class="flaticon-quote-2"></i>
					</div>
				</div>
			</div>

			<div class="testimonial-card style3">
				<ul class="ratings list-style">
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
					<li><i class="ri-star-fill"></i></li>
				</ul>
				<p class="client-quote">
					"Traveling with an infant can be quite challenging, but these baby
					wipes have been a game-changer for us. They're compact, portable, and
					incredibly versatile. They've saved us in countless situations, from
					diaper changes on the road to quick clean-ups."
				</p>
				<div class="client-info-area">
					<div class="client-info-wrap">
						<div class="client-img">
							<img
								src="{% static 'assets/img/testimonials/client-5.jpg' %}"
								alt="Image"
							/>
						</div>
						<div class="client-info">
							<h3>Chris Haris</h3>
							<span>MD, ITec</span>
						</div>
					</div>
					<div class="quote-icon">
						<i class="flaticon-quote-2"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="cta-wrap pt-100">
			<div class="row gx-5 align-items-center">
				<div class="col-xl-8 col-lg-7">
					<div class="cta-content">
						<div class="cta-logo">
							<img src="{% static 'assets/img/cta-icon.png' %}" alt="Image" />
						</div>
						<div class="content-title">
							<h2>
								Don't Hesitate To Contact Us - Your Trusted Wipes Manufacturer
							</h2>
							<p>
								We're your trusted partner in wipes manufacturing. Whether you
								have questions, custom requirements, or need assistance, our
								dedicated team is here to help. Your satisfaction and product
								needs are our priority. Reach out to us today, and experience
								the quality and expertise we bring to every aspect of wipes
								production. Contact us now for a seamless and reliable wipes
								manufacturing partnership.
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="cta-btn">
						<a href="appointment.html" class="btn style1">Make Appointment</a>
						<a href="contact.html" class="btn style2">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Testimonial Section End -->

<!-- Pricing Section Start -->
<section class="pricing-wrap pt-100 pb-75">
	<div class="container">
		<div class="section-title style1 text-center mb-40" id-="product_scroll">
			<span>Our Products</span>
			<h2>Various types of our product variants</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="pricing-card">
					<div class="pricing-header">
						<div class="pricing-header-left">
							<h5>Baby Wipes 10</h5>
							<h2>10 Nodes<span> / Pack</span></h2>
						</div>
						<div class="pricing-header-right">
							<img
								src="{% static 'assets/img/products_card/baby-boy.png' %}"
								alt=""
							/>
						</div>
					</div>
					<ul class="pricing-features list-style">
						<li class="checked">
							New Patient Consultation <i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Regular health Checkup<i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Ocupational Therapy<i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Phusical Therapy<i class="ri-check-line"></i>
						</li>
						<li class="unchecked">X-rays<i class="ri-close-fill"></i></li>
						<li class="unchecked">
							Cancer Treatment<i class="ri-close-fill"></i>
						</li>
					</ul>
					<a href="login.html" class="btn style1">Get Started Now</a>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="pricing-card">
					<div class="pricing-header">
						<div class="pricing-header-left">
							<h5>Baby Wipes 72</h5>
							<h2>72 Nodes<span> / Pack</span></h2>
						</div>
						<div class="pricing-header-right">
							<img
								src="{% static 'assets/img/products_card/baby-boy.png' %}"
								alt=""
							/>
						</div>
					</div>
					<ul class="pricing-features list-style">
						<li class="checked">
							New Patient Consultation <i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Regular health Checkup<i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Ocupational Therapy<i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Phusical Therapy<i class="ri-check-line"></i>
						</li>
						<li class="checked">X-rays<i class="ri-check-line"></i></li>
						<li class="unchecked">
							Cancer Treatment<i class="ri-close-fill"></i>
						</li>
					</ul>
					<a href="login.html" class="btn style1">Get Started Now</a>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="pricing-card">
					<div class="pricing-header">
						<div class="pricing-header-left">
							<h5>Bed Bath Wipes 10</h5>
							<h2>10 Nodes<span> / Pack</span></h2>
						</div>
						<div class="pricing-header-right">
							<img
								src="{% static 'assets/img/products_card/wipe.png' %}"
								alt=""
							/>
						</div>
					</div>
					<ul class="pricing-features list-style">
						<li class="checked">
							New Patient Consultation <i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Regular health Checkup<i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Ocupational Therapy<i class="ri-check-line"></i>
						</li>
						<li class="checked">
							Phusical Therapy<i class="ri-check-line"></i>
						</li>
						<li class="checked">X-rays<i class="ri-check-line"></i></li>
						<li class="checked">
							Cancer Treatment<i class="ri-check-line"></i>
						</li>
					</ul>
					<a href="login.html" class="btn style1">Get Started Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing Section End -->

<!-- Blog Section Start -->
<!-- <section class="blog-wrap ptb-100 bg-athens">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-7 col-md-8">
				<div class="section-title style1 mb-40">
					<span>Our Blog</span>
					<h2>Our Latest &amp; Most Popular Tips &amp; Tricks For You</h2>
				</div>
			</div>
		</div>
		<div class="blog-slider-one owl-carousel">
			<div class="blog-card style1">
				<div class="blog-img">
					<img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="Image" />
				</div>
				<div class="blog-info">
					<a href="posts-by-date.html" class="blog-date">22 Jun, 2022</a>
					<ul class="blog-metainfo list-style">
						<li>
							<i class="ri-user-unfollow-line"></i
							><a href="posts-by-author.html">Admin</a>
						</li>
						<li><i class="ri-wechat-line"></i>No Comment</li>
					</ul>
					<h3>
						<a href="blog-details-right-sidebar.html"
							>How To Recover Health Faster With Online Session</a
						>
					</h3>
					<a href="blog-details-right-sidebar.html" class="link style2"
						>Read More<i class="flaticon-right-arrow"></i
					></a>
				</div>
			</div>
			<div class="blog-card style1">
				<div class="blog-img">
					<img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="Image" />
				</div>
				<div class="blog-info">
					<a href="posts-by-date.html" class="blog-date">15 Jun, 2022</a>
					<ul class="blog-metainfo list-style">
						<li>
							<i class="ri-user-unfollow-line"></i
							><a href="posts-by-author.html">Admin</a>
						</li>
						<li><i class="ri-wechat-line"></i>No Comment</li>
					</ul>
					<h3>
						<a href="blog-details-right-sidebar.html"
							>Telehealth Services Are Ready To Help Your Family
						</a>
					</h3>
					<a href="blog-details-right-sidebar.html" class="link style2"
						>Read More<i class="flaticon-right-arrow"></i
					></a>
				</div>
			</div>
			<div class="blog-card style1">
				<div class="blog-img">
					<img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="Image" />
				</div>
				<div class="blog-info">
					<a href="posts-by-date.html" class="blog-date">12 Jun, 2022</a>
					<ul class="blog-metainfo list-style">
						<li>
							<i class="ri-user-unfollow-line"></i
							><a href="posts-by-author.html">Admin</a>
						</li>
						<li><i class="ri-wechat-line"></i>No Comment</li>
					</ul>
					<h3>
						<a href="blog-details-right-sidebar.html"
							>10 Tips To Lead A Healthy And Happy Life</a
						>
					</h3>
					<a href="blog-details-right-sidebar.html" class="link style2"
						>Read More<i class="flaticon-right-arrow"></i
					></a>
				</div>
			</div>
			<div class="blog-card style1">
				<div class="blog-img">
					<img src="{% static 'assets/img/blog/blog-4.jpg' %}" alt="Image" />
				</div>
				<div class="blog-info">
					<a href="posts-by-date.html" class="blog-date">25 May, 2022</a>
					<ul class="blog-metainfo list-style">
						<li>
							<i class="ri-user-unfollow-line"></i
							><a href="posts-by-author.html">Admin</a>
						</li>
						<li><i class="ri-wechat-line"></i>No Comment</li>
					</ul>
					<h3>
						<a href="blog-details-right-sidebar.html"
							>The Day I'd Spent At Square Medical Center</a
						>
					</h3>
					<a href="blog-details-right-sidebar.html" class="link style2"
						>Read More<i class="flaticon-right-arrow"></i
					></a>
				</div>
			</div>
			<div class="blog-card style1">
				<div class="blog-img">
					<img src="{% static 'assets/img/blog/blog-5.jpg' %}" alt="Image" />
				</div>
				<div class="blog-info">
					<a href="posts-by-date.html" class="blog-date">17 May, 2022</a>
					<ul class="blog-metainfo list-style">
						<li>
							<i class="ri-user-unfollow-line"></i
							><a href="posts-by-author.html">Admin</a>
						</li>
						<li><i class="ri-wechat-line"></i>No Comment</li>
					</ul>
					<h3>
						<a href="blog-details-right-sidebar.html"
							>How Does Science Help In Dental Surgery Research</a
						>
					</h3>
					<a href="blog-details-right-sidebar.html" class="link style2"
						>Read More<i class="flaticon-right-arrow"></i
					></a>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Blog Section End -->
{% endblock body %}
